.box header {
  width: 1226px;
  height: 98px;
  margin: 0 auto;
}

.box header .h_logo {
  width: 200px;
  height: 98px;
  background: url(../img/h_logo_03.jpg) no-repeat center center;
  margin-left: 43px;
}

.box .main {
  height: 588px;
  background: url(../img/bg.jpg) center center;
  margin: 0 auto;
}

.box .main .middle {
  width: 1226px;
  height: 588px;
  margin: 0 auto;
  position: relative;
}

.box .main .middle .main-content {
  width: 410px;
  height: 498px;
  position: absolute;
  right: 49px;
  bottom: 58px;
  background: #fff;
}

.box .main .middle .main-content .nav_tabs {
  padding: 27px 0 24px;
  text-align: center;
  font-size: 24px;
  color: #666;
}

.box .main .middle .main-content .nav_tabs .line {
  width: 1px;
  height: 24px;
  margin: 0 35px 0 42px;
  border: 1px solid #e0e0e0;
}

.box .main .middle .main-content .nav_tabs a {
  color: #757575;
}

.box .main .middle .main-content .nav_tabs a:hover {
  color: #ff6700;
}

.box .main .middle .main-content .loginbox {
  width: 348px;
  height: 415px;
  margin: 0 auto;
}

.box .main .middle .main-content .loginbox input {
  width: 316px;
  height: 22px;
  border: 1px solid #e0e0e0;
  font-size: 100%;
  padding: 13px 16px 13px 14px;
  color: #969696;
}

.box .main .middle .main-content .loginbox #username {
  margin-top: 10px;
  margin-bottom: 14px;
}

.box .main .middle .main-content .loginbox #password {
  margin-bottom: 14px;
}

.box .main .middle .main-content .loginbox #login-button {
  text-align: center;
  width: 348px;
  height: 50px;
  background: #ff6700;
  color: #fff;
  border-color: #ff6700;
  margin-bottom: 14px;
}

.box .main .middle .main-content .loginbox .other_panel {
  width: 348px;
  padding-bottom: 100px;
}

.box .main .middle .main-content .loginbox .other_panel .custom_display_256 {
  margin-bottom: 30px;
  color: #ff6700;
  font-size: 14px;
}

.box .main .middle .main-content .loginbox .other_panel .custom_display_64 {
  float: right;
}

.box .main .middle .main-content .loginbox .other_panel .custom_display_64 a {
  color: #999;
  font-size: 14px;
}

.box .main .middle .main-content .loginbox .other_panel .custom_display_64 span {
  padding-left: 5px;
  color: #999;
}

.box .main .middle .main-content .loginbox .other_panel .custom_display_64 #outer-link {
  padding-left: 5px;
}

.box .main .middle .main-content .loginbox .oth_type_tit {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.box .main .middle .main-content .loginbox .oth_type_tit legend {
  font-size: 14px;
  color: #b0b0b0;
  margin: 0 auto;
  text-align: center;
}

.box .main .middle .main-content .loginbox .oth_type_links {
  height: 36px;
  padding: 0px 65px;
}

.box .main .middle .main-content .loginbox .oth_type_links img {
  width: 216px;
  margin: 0 auto;
  height: 28px;
}

.box .main .middle .main-content .right {
  position: absolute;
  top: 198px;
  left: 54px;
  width: 304px;
  height: 222px;
  display: none;
}

.box .main .middle .main-content .right img {
  width: 100%;
  height: 100%;
}

.box .buttom {
  padding-top: 100px;
  text-align: center;
}

.box .buttom .one {
  text-align: center;
}

.box .buttom .one span {
  color: #757575;
}

.box .buttom .one span a {
  color: #757575;
  font-size: 14px;
  padding: 0px 10px;
}

.box .buttom .two {
  color: #757575;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
}
